.button{
    margin-top: 30px;
}

.main table{
    margin-top:30px;
}

.centralDiv{
    position: absolute;
    margin-left: 400px;
    margin-top: 200px;
    border: 2px solid black;
    width: 500px;
    height: 200px;
}

.main_Table {
    border: 1px solid black;
}

#pla{
    display: none;
}

.classOff{
    display:none;
}